/*
Error: Undefined variable: "$letterLight".
        on line 15 of C:\Users\crisg\Desktop\Acamica\Proyecto GifOs\GifOs\style\suggestions.scss

10:     width: 100%;    
11:     height: 32px;
12:     margin-top: 64px;
13:     margin-bottom: 20px;
14:     border-style: groove;
15:     font-family: $letterLight;  
16: 
17:     display: flex;
18:     flex-direction: column;
19:     justify-content: center;
20:     padding-left: 5px;

Backtrace:
C:\Users\crisg\Desktop\Acamica\Proyecto GifOs\GifOs\style\suggestions.scss:15
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/script/tree/variable.rb:49:in `_perform'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/script/tree/node.rb:50:in `perform'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Users/crisg/Desktop/Cosas/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
C:/Users/crisg/Desktop/Cosas/bin/sass:22:in `load'
C:/Users/crisg/Desktop/Cosas/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$letterLight\".\A         on line 15 of C:\Users\crisg\Desktop\Acamica\Proyecto GifOs\GifOs\style\suggestions.scss\A \A 10:     width: 100%;    \A 11:     height: 32px;\A 12:     margin-top: 64px;\A 13:     margin-bottom: 20px;\A 14:     border-style: groove;\A 15:     font-family: $letterLight;  \A 16: \A 17:     display: flex;\A 18:     flex-direction: column;\A 19:     justify-content: center;\A 20:     padding-left: 5px;"; }
