* {
    header {

        width: 100%;
        border-bottom: 1px solid black;
        background: $colorBarLight;
        color: white;

    }

    .create-content {


        margin-left: 91px;
        margin-right: 143px;


        main {

            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;


            .nav-content {

                display: flex;
                align-items: center;
                margin-top: 35px;

                i {
                    margin-right: 10px;
                    font-size: 25px;
                    cursor: pointer;
                }
            }

            .main-content {

                display: flex;
                flex-direction: row;
                align-items: center;


                .dropdown {

                    margin-top: 35px;

                    .dropbtn {

                        display: flex;
                        background: $colorButtonLight;
                        font-family: $letterLight;
                        font-size: 16px;
                        border: 1px solid black;
                        margin-right: 10px;
                        cursor: pointer;


                        p {
                            width: 131px;
                            height: 36px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;

                            &:hover::after,
                            &:focus::after {

                                border: dotted;
                                border-width: 1px;
                                margin: 2px;
                                content: "";
                                position: absolute;
                                top: 0px;
                                bottom: 0px;
                                left: 0px;
                                right: 0px;
                            }

                        }

                        .img-content {

                            width: 36px;
                            height: 36px;
                            border-left: 1px solid black;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;

                            &:hover::after,
                            &:focus::after {

                                border: dotted;
                                border-width: 1px;
                                margin: 2px;
                                content: "";
                                position: absolute;
                                top: 0px;
                                bottom: 0px;
                                left: 0px;
                                right: 0px;
                            }

                        }

                    }

                    .dropdown-content {

                        display: none;
                        position: absolute;
                        z-index: 1;
                        width: 170px;
                        height: 100px;
                        background: rgb(230, 230, 230);
                        border: outset;
                        border-width: 2px;


                        button {

                            width: 150px;
                            height: 36px;
                            margin: 6px;
                            font-family: $letterLight;
                            font-size: 16px;
                            cursor: pointer;


                        }
                    }

                    .dropdown-content.ocultar {
                        display: block;
                    }



                }

                .btn-mygif {
                    margin-top: 35px;
                }

            }


        }

        /* Estilando Paso 1  */
        .create-gif-section {

            display: flex;
            justify-content: center;
            align-content: center;



            .create-gif-title {
                width: 684px;
                height: 386px;
                background: rgb(230, 230, 230);
                border-style: outset;
                border-width: 1.5px;
                margin-top: 75px;

                h3 {
                    height: 24px;
                    padding-left: 5px;
                    background: $colorBarLight;
                    color: white;
                    font-family: $letterLight;
                    font-size: 14px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .gif-title {

                    margin-top: 30px;
                    display: flex;
                    flex-direction: row;

                    img {
                        width: 32px;
                        height: 32px;
                        margin-left: 25px;
                    }


                    .gif-title-content {

                        margin-left: 16px;
                        font-family: $letterLight;
                        font-size: 14px;

                        h4 {
                            padding-bottom: 17px;
                        }

                        p {
                            margin: 10px 0;
                        }

                        ol {

                            margin-top: 10px;
                            list-style-position: inside;

                            li {
                                margin: 5px 0;
                            }
                        }

                    }
                }

                .create-button {

                    display: flex;
                    justify-content: flex-end;
                    margin-right: 36px;
                    margin-top: 28px;

                    button {
                        width: 144px;
                        height: 36px;
                        margin-right: 10px;
                        background: $colorButtonLight;
                        font-family: $letterLight;
                        font-size: 16px;
                        border: 1px solid;
                        cursor: pointer;
                    }
                }
            }

        }


        /* Estilando Paso 2  */
        .open-video {

            margin-top: 20px;
            display: flex;
            justify-content: center;

            .open-video-div {


                width: 860px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                background: rgb(230, 230, 230);
                border-style: outset;

                video {

                    width: 832px;
                    height: 434px;
                    padding-top: 40px;
                }

                .title-start-video {

                    width: 100%;
                    height: 24px;
                    background: $colorBarLight;
                    color: white;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        margin-left: 5px;
                        font-family: $letterLight;
                        font-size: 14px;
                    }

                    i {
                        width: 16px;
                        height: 16px;
                        margin-right: 5px;
                        background: rgb(230, 230, 230);
                        color: black;
                        border: 1px solid black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }

                }

                .btn-start-video {

                    display: flex;
                    justify-content: flex-end;
                    margin: 16px;

                    .btn-camera {

                        width: 36px;
                        height: 36px;
                        background: $colorButtonLight;
                        border: 0.5px solid black;
                        cursor: pointer;
                    }

                    .btn-capture {

                        width: 144px;
                        height: 36px;
                        background: $colorButtonLight;
                        font-family: $letterLight;
                        font-size: 16px;
                        border: 0.5px solid black;
                        cursor: pointer;
                    }


                }


            }

        }


        /* Estilando Paso 3  */
        .capture-guifo {

            margin-top: 20px;
            display: flex;
            justify-content: center;

            .capture-video-div {

                width: 860px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                background: rgb(230, 230, 230);
                border-style: outset;

                .title-capture-video {

                    width: 100%;
                    height: 24px;
                    background: $colorBarLight;
                    color: white;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        margin-left: 5px;
                        font-family: $letterLight;
                        font-size: 14px;
                    }

                    i {
                        width: 16px;
                        height: 16px;
                        margin-right: 5px;
                        background: rgb(230, 230, 230);
                        color: black;
                        border: 1px solid black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }

                }

                .alert-content {

                    display: flex;
                    justify-content: center;
                    align-content: center;

                    .alert-image {

                        margin-top: 10px;
                        border: groove;

                    }

                }

                .btn-capture-video {

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 16px;

                    .btn-stop-record{

                        display: flex;
                        justify-content: center;
                        align-content: center;
                        height: 36px;

                        .btn-ready {

                            width: 144px;
                            
                            background: rgb(255, 97, 97);
                            font-family: $letterLight;
                            font-size: 16px;
                            border: 0.5px solid black;
                            cursor: pointer;
                        }
    
                        .div-btn-recording{

                            width: 36px;
                            height: 36px;
                            background: rgb(255, 97, 97);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 0.5px solid black;

                            .btn-recording {
    
                                width: 20px; 
                                height: 20px;                                 
                                color: white;   
                               
                                
                            }

                        }

                    }


                    .btn-stop-watch {

                        width: 124px;
                        height: 36px;
                        background: white;
                        border: groove;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: $letterLight;
                        font-size: 16px;

                        .chronometer {

                            width: 90px;
                            height: 22px;
                        }

                    }


                    .btn-create-content {

                        display: flex;
                        margin-left: 400px;

                        .btn-repeat-capture {

                            width: 144px;
                            height: 36px;
                            background: white;
                            color: black;
                            background: 1px solid black;
                            font-family: $letterLight;
                            font-size: 16px;
                            cursor: pointer;
                            margin-right: 15px;


                        }

                        .btn-upload-guifo {
                            width: 144px;
                            height: 36px;
                            background: rgb(247, 201, 243);
                            color: black;
                            background: 1px solid black;
                            font-family: $letterLight;
                            font-size: 16px;
                            cursor: pointer;


                        }

                    }



                }
            }
        }


        /* Estilando Paso 4 */
        .upload-guifo {

            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;


            .upload-guifo-div {


                width: 860px;
                height: 548px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background: rgb(230, 230, 230);
                border-style: outset;

                .title-upload-video {

                    width: 100%;
                    height: 24px;
                    background: $colorBarLight;
                    color: white;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        margin-left: 5px;
                        font-family: $letterLight;
                        font-size: 14px;
                    }

                    i {
                        width: 16px;
                        height: 16px;
                        margin-right: 5px;
                        background: rgb(230, 230, 230);
                        color: black;
                        border: 1px solid black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                }


                .alert-content {

                    width: 838px;
                    height: 440px;
                    background: white;
                    margin: 5px 5px;
                    border: inset;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .uploading{

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        
                        img {
                            padding: 10px;
                        }

                        .progress-bar{
                            padding: 10px;
                        }
                        
                    }
                }

                .btn-capture-video {

                    margin: 20px;
                    padding-left: 650px;

                    .btn-cancel {

                        width: 144px;
                        height: 36px;
                        background: $colorButtonLight;
                        font-family: $letterLight;
                        font-size: 16px;
                        border: 0.5px solid black;
                        cursor: pointer;

                    }

                }





            }


        }


        /* Estilando Paso 5 */

        .succes-create {

            display: flex;
            justify-content: center;

            .succes-create-guifo {

                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                width: 721px;
                height: 391px;
                background: rgb(230, 230, 230);
                border-style: outset;


                .title-upload-video {

                    width: 715px;
                    height: 24px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 5px;
                    background: $colorBarLight;
                    color: white;

                    p {
                        margin-left: 5px;
                        font-family: $letterLight;
                        font-size: 14px;
                    }

                    i {
                        width: 16px;
                        height: 16px;
                        margin-right: 5px;
                        background: rgb(230, 230, 230);
                        color: black;
                        border: 1px solid black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }

                }

                .alert-content {

                    display: flex;


                    .alert-image {

                        margin-top: 29px;
                        border: 3px groove;

                    }

                    .btns-succes {

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 20px;

                        .title-succes-guifo {

                            padding-bottom: 16px;
                            font-family: $letterLight;
                            font-size: 16px;

                        }

                        .btn-create-copy {

                            width: 256px;
                            height: 36px;
                            background: #FFF4FD;
                            font-family: $letterLight;
                            border: 1px solid black;
                            margin-bottom: 14px;
                            cursor: pointer;
                        }

                        .btn-create-download {

                            width: 256px;
                            height: 36px;
                            background: #FFF4FD;
                            font-family: $letterLight;
                            border: 1px solid black;
                            cursor: pointer;
                        }

                    }
                }

                .btn-ready-video {

                    display: flex;
                    align-self: flex-end;

                    .btn-ready {

                        height: 36px;
                        width: 144px;
                        margin-right: 36px;
                        background: rgb(247, 201, 243);
                        font-family: $letterLight;
                        cursor: pointer;

                    }
                }


            }


        }




        /* Seccion mis guifos */

        .my-guifos {

            width: 100%;
            height: 100%;

            p {
                width: 100%;
                height: 32px;
                margin-top: 64px;
                margin-bottom: 20px;
                border-style: inset;
                font-family: $letterLight;

                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 5px;

            }

            .guifos-content {


                display: grid;
                grid-template-columns: repeat(4, 1fr);
                align-content: center;


                .guifo-thumb {


                    .thumb-img {

                        width: 240px;
                        height: 220px;
                        margin: 10px;

                    }
                }

            }

        }





        .hidden {

            display: none !important; // si hay otro display, toma esta propiedad como importante

        }



    }



}