//------- Light Theme ------//
$colorBarLight: linear-gradient(to right, #4180F6 3%, #F7C9F3 97%);
$colorButtonLight: rgb(247, 201, 243);
$letterLight: 'Chakra Petch', sans-serif;



//------- Night Theme ------//
$colorBarNight: linear-gradient(to right, #2E32FB 3%, #EE3EFE 97%);
$colorButtonNight: rgb(238, 62, 254);


